{{> head}}
{{> navbar}}

<div class="contenedor">
    
<div class="row">
    <div class="col-8">
        <h1>Holi esto es una prueba para el proyecto de HBS, NODE</h1>
    </div>

    <div class="col-4">
        <img src="assets/img/yi.png" alt="Esto es una imagen" class="img-thumbnail">
    </div>
</div>

</div>


{{> footer}}